<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="row">
                    <section class="col-3">
                        <img style="display:block; max-width: 50px; max-height: 50px; width:auto; height:auto" src="data:image/png;base64,@ViewBag.Layout.hotel.TC_Logo" />
                    </section>
                    <section class="col-9">
                        <h1 class="navbar-brand text-light" style="padding-top:0.5em">@ViewBag.Layout.hotel.TC_Nombre</h1>
                    </section>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="display:flex">
        <section class="" style="display:flex; flex-direction: column; margin-right:1em">
            <a asp-action="HomeCliente" asp-controller="Hotel" class="btn btn-dark" style="width:100%; border-radius:0px">Home</a>
            <a asp-action="SobreNosotrosCliente" asp-controller="Hotel" class="btn btn-dark" style="width:100%; border-radius:0px">Sobre Nosotros</a>
            <a asp-action="FacilidadesCliente" asp-controller="Hotel" class="btn btn-dark" style="width:100%; border-radius:0px">Facilidades</a>
            <a asp-action="" class="btn btn-dark" style="width:100%; border-radius:0px">Como llegar</a>
            <a asp-action="" class="btn btn-dark" style="width:100%; border-radius:0px">Tarifas</a>
            <a asp-action="" class="btn btn-dark" style="width:100%; border-radius:0px">Reservar en línea</a>
            <a asp-action="" class="btn btn-dark" style="width:100%; border-radius:0px">Contáctenos</a>

            <h5 style="margin-top:1em">Espacio Publicitario</h5>
            <section style="border: 1px solid black; margin-top:1em">
                <a href="@ViewBag.Layout.publicidad.TC_Link" target="_blank">
                    <img style="display:block; max-width: 200px; max-height: 500px; height:auto"
                         src="data:image/@ViewBag.Layout.publicidad.galeria.TC_Formato;base64,@ViewBag.Layout.publicidad.galeria.TV_Archivo" />
                </a>
            </section>
        </section>
                
        <section style="margin-left: 1em">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </section>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
